body {
    background: linear-gradient(90deg, #fbf, #fff, #fbf, #fff);
    word-wrap: break-word;
    font-family: Verdana, Tahoma, sans-serif;
}

a {
    color: #00f;
}

.box {
    border: 3px dotted #000;
    padding: 8px;
    background: linear-gradient(90deg, #fff, #aaa, #fff, #aaa);
}

.container {
    border: 3px dashed #fff;
    padding: 8px;
    background: linear-gradient(90deg, #000, #313, #000, #313);
    color: #fff;
}

.container a {
    color: #77f;
}

@media only screen and (max-width: 1000px) {
    body {
        background: linear-gradient(90deg, #fbf, #fff);
    }
    .container {
        background: linear-gradient(90deg, #000, #313);
    }
    .box {
        background: linear-gradient(90deg, #fff, #aaa);
    }
}