body {
    background: linear-gradient(90deg, #bbf, #fff, #bbf, #fff);
}

a {
    color: #00f;
}

.box {
    border: 3px dotted #000;
    padding: 8px;
    background: linear-gradient(90deg, #fff, #aaa, #fff, #aaa);
}